<ul class="project-participant-list">
			
	{% if page.participants.ollie == true %}
	<li class="project-participant">
		
		<a href="https://twitter.com/TheOllieJT" target="_blank" rel="noopener">
			<img src="{{ site.url }}{{ site.baseurl }}/img/team/ollie-taylor.jpg" width="60" height="60" alt="Ollie Taylor" />
			<p>Ollie Taylor</p>
			<h6>@TheOllieJT</h6>
		</a>
		
	</li>
	{% endif %}
	
	{% if page.participants.tom == true %}
	<li class="project-participant">
		
		<a href="https://twitter.com/TomWade" target="_blank" rel="noopener">
			<img src="{{ site.url }}{{ site.baseurl }}/img/team/tom-wade.jpg" width="60" height="60" alt="Tom Wade" />
			<p>Tom Wade</p>
			<h6>@TomWade</h6>
		</a>
	
	</li>
	{% endif %}
	
</ul>