<ul class="project-participant-list">
	
	{% if page.participants.TheOllieJT == true %}
		{% for member in site.data.team.Members %}
			{% if member.twitter == "TheOllieJT" %}
			
			<li class="project-participant">
				<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="42" height="42" alt="{{ member.name }} Photo" />
			</li>
			
			{% endif %}
		{% endfor %}
	{% endif %}	
	
	{% if page.participants.TomWade == true %}
		{% for member in site.data.team.Members %}
			{% if member.twitter == "TomWade" %}
			
			<li class="project-participant">
				<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="42" height="42" alt="{{ member.name }} Photo" />
			</li>
			
			{% endif %}
		{% endfor %}
	{% endif %}
	
</ul>