<ul class="project-participant-list participant-feature">
	
	{% if page.participants.TheOllieJT == true %}
		{% for member in site.data.team.Members %}
			{% if member.twitter == "TheOllieJT" %}
			
			<li class="project-participant">
				<a href="https://twitter.com/{{ member.twitter }}" target="_blank" rel="noopener">
					<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="60" height="60" alt="{{ member.name }} Photo" />
					<p>{{ member.name }}</p>
					<h6>@{{ member.twitter }}</h6>
				</a>
			</li>
			
			{% endif %}
		{% endfor %}
	{% endif %}	
	
	{% if page.participants.TomWade == true %}
		{% for member in site.data.team.Members %}
			{% if member.twitter == "TomWade" %}
			
			<li class="project-participant">
				<a href="https://twitter.com/{{ member.twitter }}" target="_blank" rel="noopener">
					<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="60" height="60" alt="{{ member.name }} Photo" />
					<p>{{ member.name }}</p>
					<h6>@{{ member.twitter }}</h6>
				</a>
			</li>
			
			{% endif %}
		{% endfor %}
	{% endif %}
	
</ul>


