<li>
	<a class="card card-project" href="{{ project.url | prepend: site.baseurl | replace: '//', '/' }}">
	
		<div class="card-thumbnail">
			<div class="card-project-open">
				<h6>View Project</h6>
			</div>
			<img src="{{ project.image.thumbnail | prepend: site.baseurl | replace: '//', '/' }} }}" width="252" height="284" alt="{{ project.client_name }} Project Thumbnail" />
		</div>
		
		<p>{{ project.client_name }}</p>
		<h6>{{ project.project_type }}</h6>
		
		<ul class="project-participant-list">
			
			{% if project.participants.ollie == true %}
			<li class="project-participant">
				<img src="./img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
			</li>
			{% endif %}
			
			{% if project.participants.tom == true %}
			<li class="project-participant">
				<img src="./img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
			</li>
			{% endif %}
			
		</ul>
		
	</a>
</li>