<li>
	<a class="card card-project" href="{{ site.url }}{{ project.url | prepend: site.baseurl | replace: '//', '/' }}">
	
		{% if project.sale == true %}
			<div class="card-tag tag-sale"
			{% if project.red and project.green and project.blue %}
			style="background-color: rgb({{ project.red }}, {{ project.green }}, {{ project.blue }})"
			{% endif %}
			>
				<h6>FOR SALE</h6>
			</div>
		{% endif %}
	
		<div class="card-thumbnail">
			<div class="card-project-open">
				<h6>View Project</h6>
			</div>
			<img src="{{ site.url }}{{ project.image.thumbnail | prepend: site.baseurl | replace: '//', '/' }}" width="252" height="284" alt="{{ project.client_name }} Project Thumbnail" />
		</div>
		
		<p>{{ project.title }}</p>
		<h6>{{ project.type }}</h6>
		
		<ul class="project-participant-list">
	
			{% if project.participants.TheOllieJT == true %}
				{% for member in site.data.team.Members %}
					{% if member.twitter == "TheOllieJT" %}
					
					<li class="project-participant">
						<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="30" height="30" alt="{{ member.name }} Photo" />
					</li>
					
					{% endif %}
				{% endfor %}
			{% endif %}	
			
			{% if project.participants.TomWade == true %}
				{% for member in site.data.team.Members %}
					{% if member.twitter == "TomWade" %}
					
					<li class="project-participant">
						<img src="{{ site.url }}{{ site.baseurl }}{{ member.photo }}" width="30" height="30" alt="{{ member.name }} Photo" />
					</li>
					
					{% endif %}
				{% endfor %}
			{% endif %}
			
		</ul>
		
	</a>
</li>
