@import '../_framework/variables';

// Mixins
@import '../_framework/mixins/animation';


// Project Page
#project-gallery{
	position: relative;
	z-index: 100;
	background-color: transparent !important;
	h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,figcaption{
		max-width: 1152px;
		padding: 0 $space-big;
		margin-bottom: $space;
	}
}

.project-content{
	.project-participant-list{
		.project-participant{
			grid-column: span 6;
		}
	}
}


.pagination{
	//display: flex;
	width: 100%;
	max-width: $body-max;
	padding: $space;
	margin: 0 auto;
	margin-top: $space-big;
	a{
		flex-grow: 0;
		padding: $space-small 1.8rem;
		border-radius: .6rem;
		p,h6{
			color: white
		}
		&:first-child{
			float: left;
			background: transparentize($background-invert, .4);
		}
		&:last-child{
			float: right;
			background: $background-invert;
		}
	}
}



//@media only screen and (max-width: $desktop) {}

@media only screen and (max-width: $tablet) {
	.service-list{
		grid-template-rows: auto auto auto auto;
		li{
			grid-column: span 12;
			padding: 1.8rem;
		}
	}
	#project-gallery{
		h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,figcaption{
			padding: 0 $space;
		}
	}
}

@media only screen and (max-width: $mobile) {
	.project-content{
		.project-participant-list{
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			
			margin-top: $space-big !important;
			li{
				margin: 0 !important;
			}
		}
	}
	
}