@import '../_framework/variables';

// Mixins
@import '../_framework/mixins/animation';


// Project Page
.project-content{
	.project-participant-list{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		grid-gap: $space-small;
		
		margin-top: $space-big !important;
		//li{margin-right: $space;}
		&::before, &::after{
			display: none;
		}
		
	}
	.project-participant{
		a{
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto auto;
			grid-column-gap: $space-small;
			grid-template-areas: "photo name" "photo handle";
			
			&::before, &::after{
				display: none;
			}
			&:hover{
				h6{
					color: $brand
				}
			}
		}
		img{	grid-area: photo;}
		p{		grid-area: name}
		h6{	grid-area: handle}
		p,h6{
			margin: 0 !important;
			padding: 0;
			width: auto;
			display: block;
			vertical-align: middle;
		}
	}
}

#project-gallery{
	position: relative;
	z-index: 100;
	background-color: transparent !important;
	h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,figcaption{
		max-width: 1280px;
		padding: 0 $space-big;
		margin-bottom: $space;
	}
}




.pagination{
	//display: flex;
	width: 100%;
	max-width: $body-max;
	padding: $space;
	margin: 0 auto;
	margin-top: $space-big;
	a{
		flex-grow: 0;
		padding: $space-small 1.8rem;
		border-radius: .6rem;
		p,h6{
			color: white
		}
		&:first-child{
			float: left;
			background: transparentize($background-invert, .4);
		}
		&:last-child{
			float: right;
			background: $background-invert;
		}
	}
}



//@media only screen and (max-width: $desktop) {}

@media only screen and (max-width: $tablet) {
	.service-list{
		grid-template-rows: auto auto auto auto;
		li{
			grid-column: span 12;
			padding: 1.8rem;
		}
	}
	#project-gallery{
		h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,figcaption{
			padding: 0 $space;
		}
	}
}

//@media only screen and (max-width: $mobile) {}