.dark-mode{
	background: $background-invert;
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: $space;
	width: 100%;
	max-width: $body-max;
	margin: 0 auto;
	padding: 0 $space;
	&::before, &::after{
		display: none;
	}
}

.container-edge{
	position: absolute;
	left: 0;
	right: 0;
	width: 100vw;
	max-width: 100vw;
	height: auto;
	font-size: 0;
	line-height: 0;
	z-index: 3;
	svg{
		fill: $background;
		width: 100vw;
		max-width: 100vw;
		height: auto;
	}
}

.background-parallax,.background-image,.parallax-layer{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.background-image{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .24;
}
	
.background-parallax{
	overflow: visible;
	opacity: .3;
	.parallax-layer{
		overflow: visible;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: translateY(50%)
	}
	.layer_1{
		animation: float-alt 12s ease infinite;
		animation-direction: reverse;
	}
	.layer_2{
		animation: float-alt 24s ease infinite;
	}
	.layer_3{
		animation: float 15s ease infinite;
	}
	.layer_4{
		animation: float 30s ease infinite;
		animation-direction: reverse;
	}
}
	
@keyframes float {
	0%{	transform: translateY(100%) 			translateX(0)}
	100%{	transform: translateY(-100%) 			translateX(0)}
}
@keyframes float-alt {
	0%{	transform: translateY(100%) 			translateX(-1px)}
	100%{	transform: translateY(-100%) 			translateX(-1px)}
}



//@media only screen and (max-width: $desktop) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}