<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">

	<title>{% if layout == home %}{{ site.title }} &middot; Building awesome digital experiences for esports{% else %}{% if page.title %}{{ page.title }} &middot;  {% endif %}{{ site.title }}{% endif %}</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon-32.png"> <!-- 32px -->
	<link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon-180.png" sizes="180x180"><!-- 180px -->
	<link rel="mask-icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon-256.png" color="#{{ site.colour }}"> <!-- 256px -->
	<meta name="msapplication-TileColor" content="#{{ site.colour }}">
	<meta name="theme-color" content="#{{ site.colour }}">

	<!-- seo-meta-global -->
	<meta name="author" content="{{ site.author }}">
	<link rel='me' type='text/html' href='http://twitter.com/{{ twitter }}'>
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl}}{{ page.url }}">

	<!-- seo-meta-global - opengraph -->
	<meta property="og:type" content="{% if client %}post{% else %}website{% endif %}">
	<meta property="og:site_name" content="Digital Rift">
	<meta property="og:locale" content="en"> <!-- en_US -->
	<meta property="article:author" content="Digital Rift">

	<!-- seo-meta-global - twitter -->
	<meta name="twitter:site" content="{{ site.twitter }}" />
	<meta name="twitter:card" content="summary" />

	<!-- seo-meta-this-page -->
	<meta property="og:title" content="{% if layout == home %}{{ site.title }}{% else%}{% if page.title %}{{ page.title }} &middot;  {% endif %}{{ site.title }}{% endif %}">
	<meta name="twitter:title" content="{% if layout == home %}{{ site.title }}{% else%}{% if page.title %}{{ page.title }} &middot;  {% endif %}{{ site.title }}{% endif %}" />
	
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<meta property="og:url" content="{{ site.url }}{{ site.baseurl}}{{ page.url }}">
	<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl}}{{ page.url }}"/>

	<meta property="og:image" content="{% if page.description %}{{ page.image.meta }}{% else %}{{ site.baseurl}}uploads/2018/05/thumbnail.jpg{% endif %}">
	<meta name="twitter:image" content="{% if page.description %}{{ page.image.meta }}{% else %}{{ site.baseurl}}uploads/2018/05/thumbnail.jpg{% endif %}" />
	
	<meta name="keywords" content="{% if page.categories %}{% for tag in page.categories %}{{ tag }}, {% endfor %}{% endif %}Digital Rift, esports, design, development, website, website builder, team site, esports site">
	
	
	<!-- global imports -->
	<meta name="robots" content="{{ site.url }}{{ site.baseurl }}/robots.txt">
	<link rel="author" href="{{ site.url }}{{ site.baseurl }}/humans.txt">
	<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/manifest.json">
	
	<style type="text/css">
		{% capture include_to_scssify %}
		  {% include inline.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
		
		{% if page.red and page.green and page.blue %}
			.colour-bar::after {									background-color:		rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 1) !important}
			blockquote {											background-color: 	rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 0.3) !important}
			.footer-button:hover {								background-color: 	rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 0.58) !important}
			article .project-participant a:hover h6 {		color:					rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 1) !important}
			#logo-colour {											fill:						rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 1) !important}
			{# Post Gallery #}
			{% if page.layout == "post-gallery" %}
			body{background: rgb(20, 17, 23)}
			.container-edge svg path {fill: rgb(20, 17, 23);}
			{% endif %}
			
		{% endif %}
	 </style>
	 
	 <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/style.css">
	
	
</head>

<body>

	
	{{ content }}

	<footer class="dark-mode" id="contact">
		<div class="colour-bar"></div>
		<div class="container">
			<div id="footer-text">
				<h4>Let's have a chat about your project!</h4>
				<p>With years of experience delivering high quality products in eSports, we can't wait to build something awesome with you and kick your project into overdrive! We're a friendly bunch, so drop us an email or connect on our social channels.</p>
				<h6 id="legal">&copy;2018 Digital Rift. All Rights Reserved.</h6>
			</div>
			<div id="footer-links">
				<a class="footer-button" href="https://twitter.com/riftco" target="_blank" rel="noopener">
					<img src="{{ site.url }}{{ site.baseurl }}/img/social-twitter.svg" alt="Twitter Logo" width="18" height="14" />
					<h6>Tweet @RiftCo</h6>
				</a>
				<a class="footer-button" href="https://discord.gg/EbpbYae" target="_blank" rel="noopener">
					<img src="{{ site.url }}{{ site.baseurl }}/img/social-discord.svg" alt="Discord Logo" width="18" height="20" />
					<h6>Chat on Discord</h6>
				</a>
				<a class="footer-button" href="mailto:hello@digitalrift.co" target="_blank" rel="noopener">
					<h6>...or shoot us an email</h6>
				</a>
			</div>
		</div>
	</footer>
	
	<!-- Scripts -->
	<!--<script src="." type="text/javascript" async ></script>-->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url }}{{ directory }}/style.css"> -->

</body>
</html>
