---
layout: global
---
	
{% if page.red and page.green and page.blue %}
	<style>
		.colour-bar::after,#logo-colour {background-color:rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 1) !important}
		blockquote {background-color: rgba({{ page.red }}, {{ page.green }}, {{ page.blue }}, 0.3) !important}
	</style>
{% endif %}

<header class="dark-mode">
	<div class="colour-bar"></div>
	{% include _nav.html %}
	<div class="project-title">
		<h1>{{ page.description }}</h1>
		<ul>
			<li><h6>Client: <strong>{{ page.title }}</strong></h6></li>
			<li><h6>Project: <strong>{{ page.type }}</strong></h6></li>
		</ul>
		<ul class="project-participant-list">
			
			{% if page.participants.ollie == true %}
			<li class="project-participant">
				<img src="{{ site.url }}{{ site.baseurl }}img/team/ollie-taylor.jpg" width="36" height="36" alt="Ollie Taylor" />
			</li>
			{% endif %}
			
			{% if page.participants.tom == true %}
			<li class="project-participant">
				<img src="{{ site.url }}{{ site.baseurl }}img/team/tom-wade.jpg" width="36" height="36" alt="Tom Wade" />
			</li>
			{% endif %}
			
		</ul>
	</div>
	<div class="container-edge">
		<svg xmlns="http://www.w3.org/2000/svg" width="1658" height="36" viewBox="0 0 1658 36">
			<path 
				fill="#FFF" 
				ill-rule="evenodd"
				d="M1658,468 L0,468 C276.333333,444 552.666667,432 829,432 C1105.33333,432 1381.66667,444 1658,468 Z"
				transform="translate(0 -432)"
			/>
		</svg>
	</div>
	<div class="background-image" style="background-image: url('{{ page.image.header | prepend: site.baseurl | replace: '//', '/' }} }}')"></div>
</header>

<article id="project-content">
	
{{ content }}


<ul class="project-participant-list">
			
	{% if page.participants.ollie == true %}
	<li class="project-participant">
		
		<a href="https://twitter.com/TheOllieJT" target="_blank">
			<img src="{{ site.url }}{{ site.baseurl }}img/team/ollie-taylor.jpg" width="60" height="60" alt="Ollie Taylor" />
			<p>Ollie Taylor</p>
			<h6>@TheOllieJT</h6>
		</a>
		
	</li>
	{% endif %}
	
	{% if page.participants.tom == true %}
	<li class="project-participant">
		
		<a href="https://twitter.com/TomWade" target="_blank">
			<img src="{{ site.url }}{{ site.baseurl }}img/team/tom-wade.jpg" width="60" height="60" alt="Tom Wade" />
			<p>Tom Wade</p>
			<h6>@TomWade</h6>
		</a>
	
	</li>
	{% endif %}
	
</ul>
	
</article>