---
layout: global
---

<header class="dark-mode">
	<div class="colour-bar"></div>
	{% include _nav.html %}
	<div class="hero-title">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
	<div class="container-edge">
		<svg xmlns="http://www.w3.org/2000/svg" width="1658" height="36" viewBox="0 0 1658 36">
			<path 
				fill="#FFF" 
				ill-rule="evenodd"
				d="M1658,468 L0,468 C276.333333,444 552.666667,432 829,432 C1105.33333,432 1381.66667,444 1658,468 Z"
				transform="translate(0 -432)"
			/>
		</svg>
	</div>
	<div class="background-image" style="background-image: url('{{ site.url }}{{ page.image.header | prepend: site.baseurl | replace: '//', '/' }} }}')"></div>
</header>


<section id="projects">
	<ul class="card-list container">

			{% for project in paginator.posts %}
				{% include card-project.html %}
			{% endfor %}
				
		</ul>
		
		
		<div class="pagination">
				{% if paginator.previous_page %}<a class="pagination-previous" href="{{ paginator.previous_page_path }}"><h6>Previous</h6></a>{% endif %}
			<!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
			{% if paginator.next_page %}<a class="pagination-next" href="{{ paginator.next_page_path }}"><h6>Show More</h6></a>{% endif %}
		</div>
		
</section>